<% provide(:title, "About") %>
<h1>About</h1>
<p>
  <%= link_to  "https://www.railstutorial.org/" do %>
    The <em>Ruby on Rails Tutorial</em>,
  <% end %>
  part of the
  <%= link_to "Learn Enough", "https://www.learnenough.com/" %>
  family of tutorials, is a
  <%= link_to "book", "https://www.railstutorial.org/book" %> and
  <%= link_to "screencast series", "https://screencasts.railstutorial.org/" %>
  to teach web development with
  <%= link_to "Ruby on Rails", "https://rubyonrails.org/" %>
  This is the sample app for the tutorial.
</p>
